Test/Service References/DataManagementService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeManagementService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeManagementService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EmployeeIdentity">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="EmployeeIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeIdentity" nillable="true" type="tns:EmployeeIdentity" />
  <xs:complexType name="Remarks">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EmployeeIdentity">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateTimeNow" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Remarks" nillable="true" type="tns:Remarks" />
  <xs:complexType name="ArrayOfRemarks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Remarks" nillable="true" type="tns:Remarks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemarks" nillable="true" type="tns:ArrayOfRemarks" />
</xs:schema>